<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>精选</string>
		<key>urlString</key>
		<string>100</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海淘</string>
		<key>urlString</key>
		<string>129</string>
	</dict>
	<dict>
		<key>title</key>
		<string>涨姿势</string>
		<key>urlString</key>
		<string>120</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>urlString</key>
		<string>118</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生活</string>
		<key>urlString</key>
		<string>125</string>
	</dict>
	<dict>
		<key>title</key>
		<string>生日</string>
		<key>urlString</key>
		<string>30</string>
	</dict>
	<dict>
		<key>title</key>
		<string>礼物</string>
		<key>urlString</key>
		<string>111</string>
	</dict>
	<dict>
		<key>title</key>
		<string>结婚</string>
		<key>urlString</key>
		<string>33</string>
	</dict>
	<dict>
		<key>title</key>
		<string>纪念日</string>
		<key>urlString</key>
		<string>31</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数码</string>
		<key>urlString</key>
		<string>121</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母婴</string>
		<key>urlString</key>
		<string>119</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家居</string>
		<key>urlString</key>
		<string>112</string>
	</dict>
	<dict>
		<key>title</key>
		<string>情人节</string>
		<key>urlString</key>
		<string>32</string>
	</dict>
	<dict>
		<key>title</key>
		<string>爱读书</string>
		<key>urlString</key>
		<string>124</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技范</string>
		<key>urlString</key>
		<string>28</string>
	</dict>
	<dict>
		<key>title</key>
		<string>送爸妈</string>
		<key>urlString</key>
		<string>6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>送基友</string>
		<key>urlString</key>
		<string>26</string>
	</dict>
</array>
</plist>
